<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
		<link rel='stylesheet' href='/styles/main.scss.css' />
	</head>
	<body>
		<h1>Register</h1>
		<form action="/auth/register" method="post">
			<div>
				<%- error.display('firstName') %>
				<input type="text" placeholder="first name" name="firstName" value="<%= prev.display('body', 'firstName') %>">
			</div>
			<div>
				<%- error.display('lastName') %>
				<input type="text" placeholder="last name" name="lastName" value="<%= prev.display('body', 'lastName') %>">
			</div>
			<div>
				<%- error.display('email') %>
				<input type="email" placeholder="email" name="email" value="<%= prev.display('body', 'email') %>">
			</div>
			<div>
				<%- error.display('password') %>
				<input type="password" placeholder="password" name="password">
			</div>
			<button>Register</button>
		</form>
	</body>
</html>
